/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: transparent !important;
  padding: 48px;
  font-family: sans-serif;
}

.product-component {
  width: 1008px;
  height: 248px;
  background-color: white;
  border-radius: 160px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 8px solid #557FCA;
  -webkit-box-shadow: 0 0 38.4px rgba(85, 127, 202, 0.5), 0 0 38.4px rgba(85, 127, 202, 0.5);
  box-shadow: 0 0 38.4px rgba(85, 127, 202, 0.5), 0 0 38.4px rgba(85, 127, 202, 0.5);
  padding: 24px;
  display: -webkit-flex; /* NEW */
  display: flex;
  -webkit-flex-wrap: wrap;
  /* NEW */
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.label-quantity {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color: #557FCA;
  border-radius: 112px;
  padding: 48px 16px;
  margin-left: 0px;
  margin-right: 0px;
}

.label-quantity.green {
  background-color: #00B050;
  color: white;
}

.label-quantity.red {
  background-color: #C00000;
  color: white;
}

.price {
  font-size: 80px;
  font-weight: bold;
  border-radius: 160px;
  background-color: #557FCA;
  color: white;
  margin-right: 32px;
  padding: 48px 16px;
}

.remove {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #557FCA;
  color: white;
  font-weight: bold;
  font-size: 160px;
  cursor: pointer;
  border: 1px solid #557FCA;
  padding: 0 0 !important;
  line-height: 80px;
}

.remove.active {
  background-color: lightgray;
}

.add {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #557FCA;
  color: white;
  font-weight: bold;
  font-size: 160px;
  cursor: pointer;
  border: 1px solid #557FCA;
  padding: 0 0 !important;
  line-height: 80px;
}

.add.active {
  background-color: lightgray;
}